@{
    ViewData["Title"] = "About Me";
}
<h2>@ViewData["Title"]</h2>

<p>I am an experienced IT Professional, Geek of all sorts of new tachnologies and things with high expertise in implementing various types of software
    systems and solutions from web-based, mobile, front-end to back-end. I am passionate about my personal Android projects along with new technologies
    which I think that will help creation of "human 2.0" such as Machine Learning, Neural Networks and AI.<br /><br />

    I have dual-degree on Information Systems and Computer Science one from my home Istanbul Technical University and other from (SUNY) Binghamton 
    University and I have been working in different industries such as healtcare, finance and government. I am currently working on two major projects 
    one of which is integration of an ERP system and other one is implementing Datawarehouse for a government agency. <br /><br />
    </p>
<h2>Education</h2>
<div class="row">
    <div class="col-sm-6 left">
        <a href="https://www.binghamton.edu"><img src="~/images/binghamton-icon.png"/>  Binghamton University</a>
    </div>
    <div class="col-sm-6 right">
        <a href="https://global.itu.edu.tr"><img src="~/images/global-itu-logo.png"/>   Istanbul Technical University</a>
    </div>
</div>

<h2>Technical Knowledge</h2>
<div class="row">
    <div class="col-md-4 left">
        <h4>Databases</h4>
        <ul class="">
            <li class="">MS SQL Server 2008, 2008 R2, 2012, 2014, 2016</li>
            <li class="">Oracle Database 11g, 12c</li>
        </ul>
        <h4>Languages & Frameworks</h4>
        <ul>
            <li class="">ASP.NET, ADO.NET, C#.NET, VB.NET</li>
            <li class="">Java</li>
            <li class="">Python, Django</li>
            <li class="">C, C++</li>
            <li class="">HTML, CSS, JavaScript, Bootstrap, jQuery</li>
            <li class="">SQL Server Integration Services (SSIS)</li>
            <li class="">SQL Server Analysis Services (SSAS)</li>
            <li class="">SQL Server Reporting Services (SSRS)</li>
        </ul>
    </div>
    <div class="col-md-4 right">
        <h4>Analytics & Analysis</h4>
        <ul class="">
            <li class="">MDX</li>
            <li class="">DAX</li>
            <li class="">M Query</li>
            <li class="">R</li>
        </ul>
        <h4>BI Tools</h4>
        <ul class="">
            <li class="">Power BI</li>
            <li class="">Tableau</li>
        </ul>
        <h4>Data Modeling & Design Tools</h4>
        <ul class="">
            <li class="">Erwin</li>
            <li class="">Microsoft Visio</li>
        </ul>
    </div>
    <div class="col-md-4 right">
        <h4>Development Tools & Environments</h4>
        <ul class="">
            <li class="">Visual Studio</li>
            <li class="">Android Studio</li>
            <li class="">Eclipse</li>
            <li class="">SQL Server Management Studio (SSMS)</li>
            <li class="">Buisness Intelligence Development Studio (BIDS)</li>
            <li class="">SQL Server Data Tools (SSDT)</li>
        </ul>
        <h4>Source Control Systems</h4>
        <ul class="">
            <li class="">TFS</li>
            <li class="">Git</li>
            <li class="">SharePoint</li>
        </ul>
        <h4>Software Development Life-Cycle</h4>
        <ul class="">
            <li class="">Agile</li>
            <li class="">Scrum</li>
            <li class="">Waterfall</li>
        </ul>
    </div>
</div>
