@{
    ViewData["Title"] = "Home Page";
}
<!--
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
    -->
<div class="row">
    <div class="col-md-12">
        <h1>Web Based Software Engineering</h1>
        <h4>ISEM 551-90-O-2019/Summer</h4>
        <p>
            This course is an introduction to web-based software engineering environments, design patterns, frameworks and key architectural aspects of robust enterprise applications. Topics for software development technologies include development languages and frameworks (e.g., .NET,  Java, open-source), various tools used during the development lifecycle, and key components of an application in terms of the data, process and presentation layers. <br /><br />The emphasis is on hands-on software development in JavaScript, jQuery, C# and other programming languages in modern software engineering environments. <br /><br />This is a hand’s on application development course that introduces the latest web technologies, methodologies, libraries, and program languages used in open source and commercial applications - today. The purpose of this course is to actively engage the students by helping them to work on projects and assignments. The course is divided into four modules.
        </p>
    </div>
    <div class="col-md-12">
        <h2>Syllabus</h2>
        <a href="~/docs/ISEM 551 Course Syllabus.docx"><img width="24px" src="~/images/word_icon.png" /> Download as a Word Document</a>
    </div>
    <div class="col-md-12">
        <h2>Modules</h2>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a data-toggle="tab" href="#module1">Module 1</a></li>
            <li role="presentation"><a data-toggle="tab" href="#module2">Module 2</a></li>
            <li role="presentation"><a data-toggle="tab" href="#module3">Module 3</a></li>
        </ul>

        <div class="tab-content">
            <div id="module1" class="tab-pane fade in active">
                <h4>Content</h4>
                <ul>
                    <li>Centeralized VCS</li>
                    <li>Distributed VCS
                    <ul>
                        <li>Git</li>
                    </ul>
                    </li>
                </ul>
                <h4>Goals</h4>
                <ul>
                    <li>Get Familiarized with VCS in general</li>
                    <li>Understand the differences between centralized and distributed VCS</li>
                    <li>Understand the benefits of distributed VCS over centralized</li>
                    <li>Become comfortable and proficient with Git</li>
                    <li>Create accounts and become familiar with GitHub and Bitbucket</li>
                    <li>Be able to start/create projects from scratch and maintain them with Git</li>
                </ul>
                <h4>Resources</h4>
                <ul>
                    <li><a href="http://git-scm.com/">Git</a></li>
                    <li><a href="https://try.github.io/">Resources to Learn Git</a></li>
                    <li><a href="http://git-scm.com/about/branching-and-merging">Git Features and About</a></li>
                    <li><a href="https://www.atlassian.com/git/tutorials/comparing-workflows/feature-branch-workflow">Git Feature Branch Workflow</a></li>
                </ul>
            </div>
            <div id="module2" class="tab-pane fade">
                <h4>Content</h4>
                <ul>
                    <li>Web technologies (HTML, CSS, JavaScript, JSON, etc)</li>
                    <li>Libraries
                    <ul>
                        <li>jQuery</li>
                        <li>Bootstrap (focus on this library for CSS)</li>
                    </ul>
                    </li>
                </ul>
                <h4>Goals</h4>
                <ul>
                    <li>Gain an understanding of typical development processes and workflows and how they compare to open source projects</li>
                    <li>Become familiar with HTML, JavaScript, and CSS only web applications</li>
                    <li>Gain an understanding of the scope and benefits or JavaScript libraries</li>
                    <li>Gain an understanding of the scope and benefits or CSS libraries, specifically for responsive design (grid systems)</li>
                    <li>Become familiar with the current landscape of web development</li>
                    <li>Understand the basics and benefits of CSS preprocessors</li>
                </ul>
                <h4>Resources</h4>
                <ul>
                    <li>Accounts
                    <ul>
                        <li><a href="https://www.jetbrains.com/shop/eform/students">JetBrains Student License Sign up</a></li>
                        <li><a href="https://education.github.com/pack">GitHub Student Developer Pack</a></li>
                        <li><a href="https://bitbucket.org/blog/bitbucket-academic">BitBucket Academic Account</a></li>
                    </ul>
                    </li>
                    <li>Integrated Development Environment (IDE)
                    <ul>

                    </ul>
                    </li>
                    <li>Programming</li>
                </ul>
            </div>
            <div id="module3" class="tab-pane fade">

            </div>
        </div>
    </div>
</div>
