
@{
    ViewData["Title"] = "Material";
}

<h1>Extra Course Material</h1>
<p>Here you can find some useful links for front-end libraries and frameworks.</p>

<h2>Libraries & Frameworks</h2>
<ul>
    <li><a href="https://www.lynda.com/course/shareredirect/124079?org=Harrisburgu.edu">Bootstrap video on Lynda</a></li>
    <li><a href="https://getbootstrap.com">Bootstrap</a></li>
    <li><a href="https://foundation.zurb.com">Foundation</a></li>
    <li><a href="https://jquery.com">jQuery</a></li>
    <li><a href="https://code.tutsplus.com/tutorials/24-javascript-best-practices-for-beginners--net-5399">24 JavaScript Best Practices for Beginners</a></li>
    <li><a href="https://www.youtube.com/watch?v=taaEzHI9xyY&feature=youtu.be">JavaScript video on YouTube</a></li>
</ul>

<h2>Moodle</h2>
<a href="https://moodle.harrisburgu.edu/course/view.php?id=7461">
    <img class="img-circle" src="~/images/moodle-2-569555.png" />     ISEM 551 on Moodle
</a>

<h2>My Harrisburg</h2>
<a href="https://myhu.harrisburgu.edu/ICS/Academics/Academics.jnz?portlet=Course_Schedules">
    <img class="img-circle" src="~/images/harrisburg compact.png" />      MyHarrisburg Website
</a>